<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
          <Title>GetData</Title>
          <Description>Data 객체 가져오기</Description>
          <Shortcut>gda</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp"><![CDATA[GameObject.Find("Data").GetComponent<Data>();]]></Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>
